<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
            <app-welcome-message></app-welcome-message>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 grid-margin">
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <app-users-data></app-users-data>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <app-projects-data></app-projects-data>
                <canvas id="projects-chart"></canvas>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 stretch-card">
              <div class="card">
                <app-downloads-data></app-downloads-data>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 grid-margin stretch-card">
          <div class="card">
            <app-totalsales-data></app-totalsales-data>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 grid-margin stretch-card">
          <app-totalsales></app-totalsales>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
          <app-totalpurchases></app-totalpurchases>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
          <app-totalorders></app-totalorders>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
          <app-totalgrowth></app-totalgrowth>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8 grid-margin stretch-card">
            <div class="card">
              <app-tickets></app-tickets>
            </div>
          </div>
        
        <div class="col-xl-4 grid-margin stretch-card">
            <app-updates></app-updates>
        </div>
      </div>
      <app-distribution-and-sales-report></app-distribution-and-sales-report>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <app-invoices></app-invoices>
          </div>
        </div>
      </div>
    </div>
    
  </div>
