<a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
    <i class="mdi mdi-bell mx-0"></i>
  </a>
  <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
    <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
    <a *ngFor="let notifications of notifications; let i = index" class="dropdown-item preview-item">
      <div class="preview-thumbnail">
        <div class={{iconBG[i].bg}}>
          <i class={{icon[i].ic}}></i>
        </div>
      </div>
      <div class="preview-item-content">
        <h6 class="preview-subject font-weight-normal">{{notifications.title}}</h6>
        <p class="font-weight-light small-text mb-0 text-muted">
          {{notifications.subtitle}}
        </p>
      </div>
    </a>
  </div>
